
   
<div class="postCard">
    <header class="cardHeader">
        <h4><a class="Postlink" href="/post/{{id}}">{{title}}</a></h4>
    </header>
        <p class="card-body1">Posted by {{user.username}} on {{format_date created_at}}</p>
        <p class="card-body">{{content}}</p>
</div>